@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_form.scss";



header {
	padding-top: 20px;
	padding-bottom: 15px;
	.logo {
		display: inline-block;
		text-align: left;
		text-decoration: none;
		color: #1d1d1d;
		font-size: 19px;
		font-weight: 700;
		line-height: 21px;
		span {
			display: block;
			color: #00acdf;
			font-size: 15px;
			font-weight: 300;
			line-height: 24px;
		}
	}
	.top-right {
		text-align: left;
		float: right;
		font-weight: 400;
		.phone {
			color: #1d1d1d;
			font-size: 22px;
			line-height: 26px;
		}
		.link {
			color: #ff9000;
			font-size: 16px;
			text-decoration: underline;
		}
	}
}

.main-slider {
	position: relative;

	#flex-slider{
		&>.container {
			position: absolute !important;
			z-index: 1;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			h1 {
				margin: 0 0 30px 0;
				color: white;
				font-size: 87px;
				font-weight: 700;
				line-height: 77px;
			}
			h4 {
				color: white;
				font-size: 32px;
				line-height: 36px;
				margin: 0 0 30px 0;
			}
			.main-list li {
				color: white;
				font-size: 18px;
				font-weight: 400;
				font-family: $roboto;
				padding-left: 10px;
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 50%;
					background-color: #fff;
					width: 4px;
					height: 4px;
				}
			}
		}
		.container {
			position: relative;
		}
		.slides {
			li {
				position: relative;
				.note-1 {
					position: absolute;
					right: 15px;
					bottom: 15px;
					padding: 10px 60px 10px 20px;
					background: rgba(46,46,46, .6);
					color: white;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
				} 
			}
		}
		img {
			width: 100%;
			height: auto;
			display: block;
			backface-visibility: hidden;
			transform: translateZ(0) scale(1.0, 1.0); 
		}      
	}
	#flex-small {
		margin-top: 42px;
		.flex-active-slide {
			position: relative;
			img {
				border-color: #e5e5e5;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;				
				background: rgba(255,255,255, .3);
			}
		}
		.slides {
			// width: 100%!important;
			// text-align: center;
			// white-space: nowrap;
		}
		li {
			// display: inline-block!important; 
			// float: none!important;
			// margin: 0px !important;
		} 
		img {
			width: 205px;
			height: 66px !important;
			backface-visibility: hidden;
			transform: translateZ(0) scale(1.0, 1.0);

			border: 4px solid transparent;
		}

		.flex-direction-nav a {
			width: 37px;
			height: 37px;
			background-color: #ff9000;
			border-radius: 50%;
			&:before {
				font-size: 20px;
			}
			&.flex-next {
				right: -60px;
			}
			&.flex-prev {
				left: -60px;
			}
		}
	}
	.padding-arrow {
		padding: 0 75px;
	}
}